/* Common styles */
#root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100vh;
}

.wrapper {
  max-width: 960px;
  margin: auto;
}

section {
  width: 100%;
}

/* Header bar */
.header {
  background: brown;
  width: 100%;
  height: 100%;
}

.header .wrapper {
  display: flex;
  align-items: center;
}

.header h1 > a {
  color: white;
  text-decoration: none;
}

.header input {
  min-width: 320px;
  max-height: 28px;
  font-size: 18px;
  padding: 5px 20px;
  margin-left: auto;
  border: 0;
  border-radius: 5px;
}

.header input:focus {
  outline: none;
}

.header-logo {
  height: 40px;
  margin-right: 10px;
}

/* Section products (homepage) */

.products {
  margin-top: 50px;
}

.products .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  position: relative;
  overflow: hidden;
  background: brown;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px brown;
  margin-right: 53px;
  margin-bottom: 50px;
  width: 200px;
  height: 200px;
  text-decoration: none;
}

.product-card:nth-child(4n) {
  margin-right: 0;
}

.product-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-card__info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  background: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 100%);
  transition: 0.2s all;
}

.product-card:hover .product-card__info {
  opacity: 1;
}

.product-card__info h3,
.product-card__info p {
  padding: 0 25px;
  overflow-wrap: break-word;
}

/* Single product */

.product-data {
  display: flex;
}

.product-data__column {
  width: 100%;
}

.product-data__column_left {
  margin-right: 25px;
}

.product-data__column_right {
  max-width: 360px;
}

.product-data__title {
  font-size: 26px;
  margin: 20px 0;
}

.product-data__image {
  width: 100%;
  box-shadow: 0px 0px 1px brown;
  border-radius: 1px;
}

.product-data__product-gallery {
  margin: 2.5px -2.5px;
  display: flex;
  flex-wrap: wrap;
}

.product-gallery__image {
  max-width: calc(25% - 5px);
  box-shadow: 0px 0px 1px brown;
  border-radius: 1px;
  margin: 0 2.5px 2.5px;
  object-fit: cover;
}

.product-gallery__image:last-child {
  margin-right: 0;
}

.product-data__price {
  font-size: 26px;
  margin: 20px 0;
  text-align: right;
}

.product-data__seller-container {
  padding: 10px;
  border: 1px solid brown;
  border-radius: 2px;
  box-shadow: 0 0 1px brown;
}

.product-data__seller-container-2 {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.product-data__seller-name {
  font-size: 18px;
  font-weight: 500;
  align-self: flex-end;
}

.product-data__seller-avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
  align-self: flex-end;
  border-radius: 1px;
    box-shadow: 0 0 1px brown;
}

.product-data__seller-phone {
  background: lightgoldenrodyellow;
  padding: 8px 10px;
  display: block;
  text-decoration: none;
  color: blueviolet;
  text-align: center;
  border-radius: 1px;
  box-shadow: 0 0 1px brown;
}

.product-data__seller-phone:hover {
  background: rgb(255, 255, 215);
}

.product-data__seller-phone:active {
  background: rgb(245, 245, 205);
}

.product-data__seller-message {
  display: block;
  width: 100%;
  padding: 8px 10px;
  background: brown;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 1px;
  box-shadow: 0 0 1px brown;
  cursor: pointer;
}

.product-data__seller-message:hover {
  background: rgb(182, 45, 45);
}

.product-data__seller-message:active {
  background: rgb(142, 45, 45);
}

/* Footer */

.footer {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  margin-bottom: 20px;
  text-align: center;
  align-self: flex-end;
}

.footer a {
  font-family: monospace;
  font-size: 11px;
  font-weight: bold;
  color: brown;
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: 0.5s all;
}

.footer a:hover {
  color: black;
}