@media (max-width: 425px) {
    .header .wrapper {
        justify-content: center;
    }

    .header input {
        display: none;
    }

    .products {
        margin-top: 15px;
    }

    .products .wrapper {
        justify-content: space-around;
    }

    .product-card {
        margin: 0 0 15px 0;
    }

    .product-card__info {
        opacity: 1;
    }

    .product-data {
        flex-wrap: wrap;
    }

    .product-data__column {
        margin: 0 10px;
    }

    .product-data__column_right {
        max-width: 100%;
    }
}